<html ng-app="shoppingApp">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <body ng-controller="shoppingController">
        <script>
            var app = angular.module("shoppingApp", []);
            app.controller("shoppingController", function ($scope) {
                $scope.products = ["Milk", "Bread", "Cheese"];
                $scope.addItem = function () {
                    $scope.products.push($scope.addMe);
                };
                $scope.removeItem = function (x) {
                    $scope.products.splice(x, 1);
                };
            });
        </script>
        <h2>Simple Shopping List</h2>
        <ul>
            <li ng-repeat="item in products">
                {{item}}
                <button ng-click="removeItem($index)"> Remove </span>
            </li>
        </ul>
        <input ng-model="addMe" placeholder="Enter New Item " />
        <button ng-click="addItem()">Add</button>
    </body>
</html>
